:root {
    --color-primary: #FF577F;
    --color-primary-focus: #FF427F;
    --color-primary-negative: #59323F;

}

body {
    font-family: 'Inter', sans-serif;
    background-color: #242428;
    color: #F8F9FA;
    margin: 0;
    padding: 0;
    align-items: center;
}

.logo{

    
    display: flex;
    justify-content: center;
    text-align: center;

    align-items: center;
}

.txto1{
width: 500;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;

    align-items: center;
}